<div class="card">
    <p-table responsiveLayout="scroll" [value]="usuarios">
        <ng-template pTemplate="header" let-users>
            <tr class="titulo">
                <th>Nombre de usuario</th>
                <th>Activo/Inactivo</th>
                <th>Tipo de usuario</th>
            </tr>
        </ng-template>
        <ng-template  pTemplate="body" let-user let-users="columns">
            <tr class="fila"> 
                <td>{{user.username}}</td>
                <td>{{user.is_active}}</td>
                <td><span class="badge bg-{{user.is_superuser ? 'success':(user.is_staff && user.is_superuser === false) ? 'warning': 'danger'}}">{{user.username}}</span></td>
            </tr>
            <p-badge value="2" severity="success"></p-badge>
        </ng-template>
    </p-table>
</div>