<titulo-pagina [titulo]="'Categoría'"></titulo-pagina>
<progressbar></progressbar>
<subtitulo-pagina [subTitulo]="'Lista de categorías'"></subtitulo-pagina>

<div class="container-fluid">
    <p-toast (onClose)="closeAlert()" [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>

    <div class="row">
        <tabla-categoria
            [categoriasDeTabla]="categorias"
            (abrirModal)="modificarEstadoModal($event)"
            (tituloModal)="guardarTituloModal($event)"
            (categoriaParaActualizar)="guardarCategoriaParaActualizar($event)"
            (categoriaEliminada)="eliminarCategoria($event)">
        </tabla-categoria>
    </div>
</div>

<modal-categoria
    [tituloModal]="tituloModal"
    [mostrarModal]="mostrarModal"
    [categoriaUtilizadaEnModal]="categoriaParaActualizar"
    (enviarInformacionCategoria)="guardarCategoria($event)"
    (cerrarModal)="modificarEstadoModal($event)">  
</modal-categoria>