<div class="card p-1">
    <p-table
        #tablaTienda
        responsiveLayout="scroll"
        [value]="tiendasDeTabla"
        [filterDelay]="0"
        [globalFilterFields]="['tie_nombre','sucursal','sucursalDireccion']"
        >
        <ng-template pTemplate="caption">
        <div class="flex row justify-content-between">
            <div class="py-2 col-sm-12 col-md-5 col-lg-4">
                <div class="row">
                    <div class="col-md-9 col-sm-12">
                        <div class="row flex">
                            <div class="col-sm-8 col-md-11 col-lg-11 d-flex">
                                <input
                                    type="text"
                                    [(ngModel)]="filtroBusquedaTienda"
                                    class="input-busqueda form-control"
                                    (input)="filtrarBusqueda(tablaTienda)"
                                    placeholder="Nombre de Sucursal"
                                >
                                <button [disabled]="cargando | async"
                                        (click)="filtrarBusqueda(tablaTienda)"
                                        type="button"
                                        class="btn btn-primary"><i class="pi pi-search" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="py-2 col-sm-12 col-md-4 col-lg-3 text-center">
                <button
                    *appRol="[rolPermissionService.ROL_USER.su]"
                    [disabled]="cargando | async"
                    (click)="registroTienda();"
                    class="btn-header-derecha btn btn-primary"
                    type="button" >
                    <i class="pi pi-user-plus">&nbsp;</i>Nuevo
                </button>
            </div>
        </div>
    </ng-template>
        <ng-template pTemplate="header">
            <tr class="titulo-tabla contenedor">
                <th class="text-center" pSortableColumn="tie_nombre">Nombre <p-sortIcon field="tie_nombre"></p-sortIcon></th>
                <th class="text-center" pSortableColumn="tie_suc_id">Sucursal <p-sortIcon field="tie_suc_id"></p-sortIcon></th>
                <th class="text-center" pSortableColumn="sucursalDireccion">Direccón <p-sortIcon field="tie_suc_id"></p-sortIcon></th>
                <th class="text-center" pSortableColumn="tiendaEstado">Estado <p-sortIcon field="tiendaEstado"></p-sortIcon></th>
                <th class="text-center"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-tienda >
            <tr class="filas-tabla contenedor">
                <td class="text-center">{{tienda.tie_nombre}}</td>
                <td class="text-center">{{tienda.sucursal}}</td>
                <td class="text-center">{{tienda.sucursalDireccion}}</td>
                <td class="text-center">
                    <p-tag
                        value="{{tienda.tiendaEstado}}"
                        severity="{{tienda.tie_estado?'success':'danger'}}">
                    </p-tag>
                </td>
                <td class="text-center">
                    <button
                        *appRol="[rolPermissionService.ROL_USER.su]"
                        [disabled]="cargando | async"
                        (click)="actualizarTienda(tienda);reiniciarTabla(tablaTienda);"
                        pButton
                        pRipple
                        type="button"
                        icon="pi pi-pencil"
                        class="p-button-rounded p-button-warning p-button-outlined">
                    </button>
                    <button
                        *appRol="[rolPermissionService.ROL_USER.su]"
                        [disabled]="cargando | async"
                        (click)="eliminarTienda(tienda.tie_id);reiniciarTabla(tablaTienda);"
                        pButton
                        pRipple
                        type="button"
                        [icon]="tienda.tie_estado?'pi pi-trash':'pi pi-check-circle'"
                        [class]="tienda.tie_estado?
                            'p-button-danger p-button-rounded p-button-outlined':
                            'p-button-primary p-button-rounded p-button-outlined'">
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

