<div class="card p-1">
    <p-table
        #tablaProveedor
        responsiveLayout="scroll"
        [value]="proveedoresDeTabla"
        [filterDelay]="0"
        [globalFilterFields]="['pro_nombre','pro_ruc','proveedorEstado']"
        >
        <ng-template pTemplate="caption">
            <div class="flex row justify-content-between">
                <div class="py-2 col-sm-12 col-md-5 col-lg-4">
                    <div class="row">
                        <div class="col-md-9 col-sm-12">
                            <div class="row flex">
                                <div class="col-sm-8 col-md-11 col-lg-11 d-flex">
                                    <input 
                                        type="text" 
                                        [(ngModel)]="filtroBusquedaProveedor"
                                        class="input-busqueda form-control" 
                                        (input)="filtrarBusqueda(tablaProveedor)" 
                                        placeholder="Nombre de proveedor"
                                    >
                                    <button [disabled]="cargando | async" 
                                            (click)="filtrarBusqueda(tablaProveedor)" 
                                            type="button" 
                                            class="btn btn-primary"><i class="pi pi-search" aria-hidden="true"></i>
                                    </button> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="py-2 col-sm-12 col-md-4 col-lg-3 text-center">
                    <button 
                            *appRol="[rolPermissionService.ROL_USER.su]"
                            [disabled]="cargando | async" 
                            (click)="registroProveedor()" 
                            class="btn-header-derecha btn btn-primary"
                            type="button" ><i class="pi pi-user-plus">&nbsp;</i>Nuevo
                    </button>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr class="titulo-tabla contenedor">
                <th class="text-center" pSortableColumn="pro_nombre">Descripción <p-sortIcon field="pro_nombre"></p-sortIcon></th>
                <th class="text-center" pSortableColumn="pro_ruc">RUC <p-sortIcon field="pro_ruc"></p-sortIcon></th>
                <th class="text-center" pSortableColumn="proveedorEstado">Estado <p-sortIcon field="proveedorEstado"></p-sortIcon></th>
                <th class="text-center"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-proveedor >
            <tr class="filas-tabla contenedor"> 
                <td class="text-center">{{proveedor.pro_nombre}}</td>
                <td class="text-center">{{proveedor.pro_ruc}}</td>
                <td class="text-center">
                    <p-tag 
                        value="{{proveedor.proveedorEstado}}" 
                        severity="{{proveedor.pro_estado?'success':'danger'}}">
                    </p-tag>
                </td>
                <td class="text-center">
                    <button 
                        *appRol="[rolPermissionService.ROL_USER.su]"
                        [disabled]="cargando | async" 
                        (click)="actualizarProveedor(proveedor);reiniciarTabla(tablaProveedor);" 
                        pButton 
                        pRipple 
                        type="button" 
                        icon="pi pi-pencil" 
                        class="p-button-rounded p-button-warning p-button-outlined">
                    </button>
                    <button 
                        *appRol="[rolPermissionService.ROL_USER.su]"    
                        [disabled]="cargando | async" 
                        (click)="eliminarProveedor(proveedor.pro_id);reiniciarTabla(tablaProveedor);" 
                        pButton 
                        pRipple 
                        type="button" 
                        [icon]="proveedor.pro_estado?'pi pi-trash':'pi pi-check-circle'" 
                        [class]="proveedor.pro_estado?
                            'p-button-danger p-button-rounded p-button-outlined':
                            'p-button-primary p-button-rounded p-button-outlined'">
                    </button>
                    <button 
                        [disabled]="cargando | async" 
                        (click)="visualizarProveedor(proveedor);" 
                        pButton 
                        pRipple 
                        type="button" 
                        icon="pi pi-eye" 
                        class="p-button-rounded p-button-success p-button-outlined">
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>