<titulo-pagina [titulo]="'Producto'"></titulo-pagina>
<progressbar></progressbar>
<subtitulo-pagina [subTitulo]="'Lista de productos'"></subtitulo-pagina>

<div class="container-fluid">
    <p-toast (onClose)="closeAlert()" [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>
    
    <div class="row">
        <tabla-producto 
            [productosDeTabla]="productos" 
            (abrirModal)="modificarEstadoModal($event)"
            (tituloModal)="guardarTituloModal($event)"
            (productoParaActualizar)="guardarProductoParaActualizar($event)"
            (esVisualizar) = "visualizarProducto($event)"
            (productoEliminado)="eliminarProducto($event)">
        </tabla-producto>
    </div>
</div>