<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="titulo-logo navbar-brand ps-3" [routerLink]="['/layout']">Detalles Jeans</a>
    <!-- Sidebar Toggle-->
    <button (click)="estadoSideBar()" class="boton btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle"><i class="pi pi-bars"></i></button>
    <!-- Navbar Search-->
    <span class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
    </span>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><span class="username">{{username}}</span><i class="pi pi-user"></i></a>
            <ul class="grupo-opciones dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="opciones dropdown-item" [routerLink]="['/layout','usuario','perfil']">Perfil</a></li>
                <li><hr class="dropdown-divider"/></li>
                <li><a class="opciones dropdown-item" (click)="logout()">Cerrar Sesión</a></li>
            </ul>
        </li>
    </ul>
</nav>