
<div *ngIf="mostrarModal" class="row card">
    <div class="card-header color-header text-white">
        <div class="row">
            <div class="mt-2 text-start col-12 col-md-4">
                <p class="h5">Guía de remisión</p>
            </div>
            <div class="mt-2 col-7 offset-md-5 offset-5 col-md-3 ">
                <div class="input-group">
                    <p class="h5 mr-3">Guardar</p>
                    <input type="checkbox" class="p-inputswitch">
                </div>
            </div>
        </div>
    </div>

    <div class="card-body">
        <form [formGroup]="guiaRemisionForm" >
            <div class="row justify-content-between">
                <div class="mt-2 col-12 col-sm-12 col-md-12 col-xl-12 col-xxl-8 ">
                    <div class="row">
                        <div class="mt-2 col-12 col-sm-12 col-md-12 col-xl-5">
                            <label class="ml-3" for="idNroSerie"><strong>NRO. DE SERIE:</strong></label>
                            <div class="col-12">
                                <input
                                    id="idNroSerie"
                                    autocomplete="off"
                                    class="form-control"
                                    type="text"
                                    placeholder="Ingrese Nro. serie"
                                    formControlName="serieDePago">
                                <div *ngIf="serieDePago?.invalid && (serieDePago?.dirty || serieDePago?.touched)"
                                    class="msj-error-form row text-danger text-end p-0">
                                    <small class="col-12" *ngIf="serieDePago?.errors?.['required']">
                                        *El número de serie es requerido.
                                    </small>
                                    <small class="col-12" *ngIf="serieDePago?.errors?.['minlength']">
                                        *El número de serie debe tener mínimo 4 caracteres.
                                    </small>
                                    <small class="col-12" *ngIf="serieDePago?.errors?.['maxlength']">
                                        *El número de serie debe tener máximo 4 caracteres.
                                    </small>
                                    <small class="col-12" *ngIf="serieDePago?.errors?.['pattern']">
                                        *El número de serie debe ser válido. Ejemplo: F001
                                    </small>
                                </div> 
                            </div>

                            
                        </div>
                        <div class="mt-2 col-12 col-sm-12 col-md-12 col-xl-7 ">
                            <label class="ml-3" for="idNroComprobante"><strong>NRO. DE COMPROBANTE:</strong></label>
                            <div class="col-12">
                                <input
                                    id="idNroComprobante"
                                    autocomplete="off"
                                    class="form-control"
                                    type="text"
                                    placeholder="Ingrese Nro. de comprobante"
                                    formControlName="numeroDePago">
                                <div *ngIf="numeroDePago?.invalid && (numeroDePago?.dirty || numeroDePago?.touched)"
                                    class="msj-error-form row text-danger text-end p-0">
                                    <small class="col-12" *ngIf="numeroDePago?.errors?.['required']">
                                        *El número de comprobante es requerido.
                                    </small>
                                    <small class="col-12" *ngIf="numeroDePago?.errors?.['minlength']">
                                        *El número de comprobante debe tener mínimo 6 caracteres.
                                    </small>
                                    <small class="col-12" *ngIf="numeroDePago?.errors?.['maxlength']">
                                        *El número de comprobante debe tener máximo 6 caracteres.
                                    </small>
                                    <small class="col-12" *ngIf="numeroDePago?.errors?.['pattern']">
                                        *El número de comprobante debe ser válido. Ejemplo: 000001
                                    </small>
                                </div>   
                            </div>
                        </div>
                    </div>
                    
                </div>
                <br>
                <div class="mt-2 col-12 col-sm-12 col-md-12 col-xl-12 col-xxl-4 ">
                    <label class="ml-3" for="idFechaEmision"><strong>FECHA EMISIÓN:</strong></label>
                    <div class="col-12">
                        <p-calendar 
                            id="idFechaEmision"
                            placeholder="dd/mm/aa" 
                            dateFormat='dd/mm/yy'
                            [maxDate]="tomorrowDate" 
                            [style]="{'width':'100%'}" 
                            [showIcon]="true" 
                            inputId="icon"
                            formControlName="fechaDeEmision">
                        </p-calendar>
                        <div *ngIf="fechaDeEmision?.invalid && (fechaDeEmision?.dirty || fechaDeEmision?.touched)"
                            class="msj-error-form row text-danger text-end p-0">
                            <small class="col-12" *ngIf="fechaDeEmision?.errors?.['required']">
                                *La fecha de emisión es requerida.
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            
        </form> 
        
    </div>
</div>
