<div class="card">
    <p-table 
        [value]="detallesDeCompra" 
        dataKey="det_comp_id" 
        editMode="row" 
        responsiveLayout="scroll"
        >
        <ng-template pTemplate="header">
            <tr class="titulo-tabla contenedor">
                <th class="text-center">Descripcion</th>
                <th class="text-center">Precio Compra</th>
                <th class="text-center">Cantidad</th>
                <th class="text-center">Importe</th>
                <th class="text-center"></th>
            </tr>

        </ng-template>
        <ng-template pTemplate="body" let-detalle let-index="rowIndex">
            <tr class="filas-tabla contenedor" [pEditableRow]="detalle">
                <td class="text-center">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="detalle.producto_descripcion">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{detalle.producto_descripcion}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td class="text-center">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="detalle.productoDetalle.prod_precio_compra">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{detalle.productoDetalle.prod_precio_compra | currency: 'S/'}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn class="text-center">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input 
                                pInputText
                                type="number" 
                                min="0" 
                                (blur)="agregarCantidad(detalle.det_comp_cantidad ,index)" 
                                [(ngModel)]="detalle.det_comp_cantidad"
                            >
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{detalle.det_comp_cantidad}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td class="text-center">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="detalle.det_comp_importe">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{detalle.det_comp_importe | currency: 'S/'}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td class="text-center">
                    <!-- Eliminar detalle -->
                    <button pButton pRipple type="button" icon="pi pi-trash" (click)="eliminarDetalle(detalle)" class="p-button-rounded p-button-text p-button-danger"></button>
                </td>

            </tr>
        </ng-template>

        <ng-template pTemplate="summary" class="row">
            <div class="flex row justify-content-end">
                <div class="py-2 col-sm-12 col-md-4 col-lg-2 text-end">
                    <div>
                        <span class="h5">Sub total: {{ montoTotal * 0.82  | currency: 'S/'}}</span> 
                    </div>
                    <div>
                        <span class="h5">IGV: {{ montoTotal * 0.18  | currency: 'S/'}}</span> 
                    </div>
                    <!-- <hr> -->
                    <div>
                        <hr>
                        <span class="h3">Total: {{montoTotal  | currency: 'S/'}}</span> 
                    </div>
                </div>
            </div>
        </ng-template>


    </p-table>
</div>