<div class="card">
    <p-table 
        [value]="detallesDeCompra" 
        dataKey="id" 
        editMode="row" 
        responsiveLayout="scroll"
        >
        
        <ng-template pTemplate="header">
            <tr class="titulo-tabla contenedor">
                <th class="text-center">Descripcion</th>
                <th class="text-center">Precio Compra</th>
                <th class="text-center">Cantidad</th>
                <th class="text-center">Importe</th>
                <th class="text-center"></th>
            </tr>

        </ng-template>
        
        <ng-template pTemplate="body" let-detalle let-editing="editing" let-ri="rowIndex">
            <tr class="filas-tabla contenedor" [pEditableRow]="detalle">
                <td class="text-center">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="detalle.producto_descripcion">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{detalle.producto_descripcion}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td class="text-center">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="detalle.productoDetalle.prod_precio_compra">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{detalle.productoDetalle.prod_precio_compra | currency: 'PEN'}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <!-- <td class="text-center">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-dropdown [options]="statuses" [(ngModel)]="detalle.inventoryStatus" [style]="{'width':'100%'}"></p-dropdown>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{detalle.inventoryStatus}}
                        </ng-template>
                    </p-cellEditor>
                </td> -->
                <td class="text-center">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="detalle.det_comp_cantidad">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{detalle.det_comp_cantidad}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                
                <td class="text-center">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input disabled pInputText type="text" [(ngModel)]="detalle.det_comp_importe">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{detalle.det_comp_importe | currency: 'PEN'}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td class="text-center">
                    <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(detalle)" class="p-button-rounded p-button-text mr-2"></button>
                    <button *ngIf="!editing" pButton pRipple type="button" icon="pi pi-trash" (click)="eliminarDetalle(detalle)" class="p-button-rounded p-button-text p-button-danger"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="guardarEditado(detalle)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(detalle, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>