<div class="container">
    <div class="card">
        <div class="card-header">
            <!-- <i class="fas fa-table me-1"></i> -->
            <div class="row text-center">
                <h4>LISTADO DE SUCURSALES</h4>
            </div>
        </div>
        <div class="row-5 text-center">
            <button type="button" class="btn btn-primary" (click)="abrirModal()">REGISTRAR</button>
        </div>
        <div class="card-body">
            <table class="table" >
                <thead>
                    <tr>
                        <th scope="col">Nº</th>
                        <th scope="col">NOMBRE</th>
                        <th scope="col">DIRECCION</th>
                        <th scope="col">ACTIVO</th>
                        <th scope="col">OPCIONES</th>
                    </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let datoSucursal of sucursal; let indice = index">
                        <th>
                            <!-- <input type="text" id="id_{{indice}}" value="{{datoSucursal.SUC_ID}}"> -->
                            {{datoSucursal.SUC_ID}}
                        </th>
                        <td>{{datoSucursal.SUC_NOMBRE}}</td>
                        <td>{{datoSucursal.SUC_DIRECCION}}</td>
                        <td>{{datoSucursal.SUC_ESTADO}}</td>
                        <td>
                            <div class="row">
                                <div class="col-3">
                                    <button type="button" class="btn btn-success" (click)="editarSucursal()" >EDITAR</button>
                                </div>
                                <div class="col-3">
                                    <button type="button" class="btn btn-danger" (click)="eliminarSucursal(datoSucursal.SUC_ID)">ELIMINAR</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <p>COLOCAR PAGINACION</p>
        </div>
    </div>
</div>

<p>
    ****************************
</p>
<div class="container">
    <ng-template #templateSucursal let-modal>
        <div class="modal-header">
            <div class="modal-title">CREAR SUCURSAL</div>
        </div>
        <div class="modal-body">
            <form [formGroup]="frmSucursal">
                <!-- NOMBRE -->
                <div class="row">
                    <div class="col-4">
                        <label for="etiquetaNombre">NOMBRE</label>
                    </div>
                    <div class="col-6">
                        <input type="text" id="etiquetaNombre" class="form-control" formControlName="inputTxtNombre" placeholder="Ingrese Nombre">
                    </div>
                </div>
                <!-- DIRECCION -->
                <div class="row mt-2">
                    <div class="col-4">
                        <label for="etiquetaDireccion">DIRECCION</label>
                    </div>
                    <div class="col-8">
                        <input type="text" id="etiquetaDireccion" class="form-control" formControlName="inputTxtDireccion" placeholder="Ingrese Direccion">
                    </div>
                </div>

            </form>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-6">
                    <button type="button" class="btn btn-success" (click)="registrarSucursal()">GUARDAR</button>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-danger" (click)="closeModal()">SALIR</button>
                </div>
            </div>
        </div>
    </ng-template>
</div>
