<titulo-pagina [titulo]="'Tienda'"></titulo-pagina>
<progressbar></progressbar>
<subtitulo-pagina [subTitulo]="'Lista de Tienda'"></subtitulo-pagina>

<div class="container-fluid">
  <p-toast (onClose)="closeAlert()" [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>

  <div class="row">
      <tabla-tienda
          [tiendasDeTabla]="tiendas"
          (abrirModal)="modificarEstadoModal($event)"
          (tituloModal)="guardarTituloModal($event)"
          (tiendaParaActualizar)="guardarTiendaParaActualizar($event)"
          (tiendaEliminado)="eliminarTienda($event)">
      </tabla-tienda>
  </div>
</div>
<modal-tienda
[tituloModal]="tituloModal"
[mostrarModal]="mostrarModal"
[tiendaUtilizadoEnModal]="tiendaParaActualizar"
(enviarInformacionTienda)="guardarTienda($event)"
(cerrarModal)="modificarEstadoModal($event)">
>
</modal-tienda>