<div class="card p-1">

    <p-table
        #tablaTalla
        responsiveLayout="scroll"
        [value]="tallasDeTabla"
        [filterDelay] = "0"
        [globalFilterFields]="['tal_descripcion','tallaEstado']"
        >
        <ng-template pTemplate = "caption">
            <div class="flex row justify-content-between">
                <div class="py-2 col-sm-12 col-md-5 col-lg-4">
                    <div class="row">
                        <div class="col-md-9 col-sm-12">
                            <div class="row flex">
                                <div class="col-sm-8 col-md-11 col-lg-11 d-flex">
                                    <input 
                                    type="text"
                                    [(ngModel)]="filtroBusquedaTalla"
                                    class="input-busqueda form-control"
                                    (input)="filtrarBusqueda(tablaTalla)"
                                    placeholder="Nombre de la talla"
                                    >
                                    <button
                                        [disabled]="cargando | async"
                                        (click)="filtrarBusqueda(tablaTalla)"
                                        type="button"
                                        class="btn btn-primary"
                                    ><i class="pi pi-search" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="py-2 col-sm-12 col-md-4 col-lg-3 text_center">
                    <button
                        *appRol="[rolPermissionService.ROL_USER.su]"
                        [disabled]="cargando | async"
                        (click)="registroTalla()"
                        class="btn-header-derecha btn btn-primary"
                        type="button"
                    ><i class="pi pi-user-plus">&nbsp;</i>Nuevo
                    </button>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr class="titulo_tabla contenedor">
                <th class="text-center" pSortableColumn="tal_descripcion">Descripción <p-sortIcon field="tal_descripcion"></p-sortIcon></th>
                <th class="text-center"pSortableColumn="tallaEstado">Estado <p-sortIcon field="tallaEstado"></p-sortIcon></th>
                <th class="text-center"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-talla>
            <tr class="filas-tabla contenedor">
                <td class="text-center">{{talla.tal_descripcion}}</td>
                <td class="text-center">
                    <p-tag
                        value="{{talla.tallaEstado}}"
                        severity="{{talla.tal_estado?'success':'danger'}}">
                    </p-tag>
                </td>
                <td class="text-center">
                    <button
                        *appRol="[rolPermissionService.ROL_USER.su]"
                        [disabled]="cargando | async"
                        (click)="actualizarTalla(talla);reiniciarTabla(tablaTalla);"
                        pButton
                        pRipple
                        type="button" 
                        icon="pi pi-pencil"
                        class="p-button-rounded p-button-warning p-button-outlined" 
                    >
                    </button>
                    <button
                        *appRol="[rolPermissionService.ROL_USER.su]"
                        [disabled]="cargando | async"
                        (click)="eliminarTalla(talla.tal_id);reiniciarTabla(tablaTalla);"
                        pButton
                        pRipple
                        type="button"
                        [icon]="talla.tal_estado?'pi pi-trash':'pi pi-check-circle'" 
                        [class]="talla.tal_estado?
                                'p-button-danger p-button-rounded p-button-outlined':
                                'p-button-primary p-button-rounded p-button-outlined'"
                        >
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>