<div class="row card">
    <div class="card-header color-header text-white">
        <div class="row">
            <!-- <div class="mt-2 text-start col-12"> -->
            <div class="mt-2 text-start col-12 col-md-12 col-lg-12 col-xl-4">
                <p class="h5"><strong>Comprobante de pago</strong></p>
            </div>
            <!-- <div class="mt-2 col-12"> -->
            <div class="mt-2 offset-0 col-12 offset-md-0 col-md-12 offset-lg-0 col-lg-12 offset-xl-5 col-xl-3">
                <div class="justify-content-end input-group">
                    <p class="h5 mr-3">Guardar</p>
                    <input [(ngModel)]="dataSave" (change)="guardarDatos()" type="checkbox" class="p-inputswitch">
                </div>
            </div>
        </div>
    </div>

    <div class="card-body"> 
        <form [formGroup]="comprobanteDePagoForm" >
            <div class="row justify-content-between">
                <div class="mt-2 col-12 col-sm-12 col-md-12 col-xl-12 col-xxl-5 ">
                    <label 
                        class="ml-3 label-compra" 
                        for="idTipoComprobante">
                            TIPO DE COMPROBANTE
                            <small class="text-danger">
                                <strong>(*)</strong>
                            </small>:
                    </label>
                    <div class="col-12">
                        <p-dropdown 
                            #comprobanteOption
                            id="idTipoComprobante"
                            [options]="tiposDeComprobante" 
                            (onFocus)="comprobanteOption.resetFilter()"
                            optionLabel="tipo_comprobante_descripcion" 
                            placeholder="Selecciona comprobante"
                            [style]="{'width':'100%'}"
                            formControlName="tipoDeComprobante">
                        </p-dropdown>
                        <div *ngIf="tipoDeComprobante?.invalid && (tipoDeComprobante?.dirty || tipoDeComprobante?.touched)"
                            class="msj-error-form row text-danger text-end p-0">
                            <small class="col-12" *ngIf="tipoDeComprobante?.errors?.['required']">
                                *El tipo de comprobante es requerido.
                            </small>
                        </div>
                    </div>
                </div>
                <br>
                <div class="mt-2 col-12 col-sm-12 col-md-12 col-xl-12 col-xxl-5 ">
                    <label 
                        class="ml-3 label-compra" 
                        for="idFecha">
                            FECHA EMISIÓN
                            <small class="text-danger">
                                <strong>(*)</strong>
                            </small>:
                    </label>
                    <div class="field col-12">
                        <p-calendar 
                            id="idFecha" 
                            placeholder="DD/MM/AAAA"
                            [maxDate]="tomorrowDate" 
                            [style]="{'width':'100%'}" 
                            [showIcon]="true" 
                            inputId="icon"
                            formControlName="fechaDeEmision">
                        </p-calendar>

                        <div *ngIf="fechaDeEmision?.invalid && (fechaDeEmision?.dirty || fechaDeEmision?.touched)"
                            class="msj-error-form row text-danger text-end p-0">
                            <small class="col-12" *ngIf="fechaDeEmision?.errors?.['required']">
                                *La fecha de emisión es requerida.
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <p-divider></p-divider>
            <div class="row justify-content-center">
                <div class="mt-2 col-12 col-sm-12 col-md-12 col-xl-12 col-xxl-3">
                    <label 
                        class="ml-3 label-compra" 
                        for="idNroSerie">
                            NRO. DE SERIE
                            <small class="text-danger">
                                <strong>(*)</strong>
                            </small>:
                    </label>
                    <div class="col-12">
                        <input
                            id="idNroSerie"
                            autocomplete="off"
                            class="form-control"
                            type="text"
                            placeholder="Ingrese Nro. serie"
                            formControlName="serieDePago">
                        <div *ngIf="serieDePago?.invalid && (serieDePago?.dirty || serieDePago?.touched)"
                            class="msj-error-form row text-danger text-end p-0">
                            <small class="col-12" *ngIf="serieDePago?.errors?.['required']">
                                *El número de serie es requerido.
                            </small>
                            <small class="col-12" *ngIf="serieDePago?.errors?.['minlength']">
                                *El número de serie debe tener mínimo 4 caracteres.
                            </small>
                            <small class="col-12" *ngIf="serieDePago?.errors?.['maxlength']">
                                *El número de serie debe tener máximo 4 caracteres.
                            </small>
                            <small class="col-12" *ngIf="serieDePago?.errors?.['pattern']">
                                *El número de serie debe ser válido. Ejemplo: F001
                            </small>
                        </div>    
                    </div>
                </div>
                <br>
                <div class="mt-2 col-12 col-sm-12 col-md-12 col-xl-12 col-xxl-5 ">
                    <label 
                        class="ml-3 label-compra" 
                        for="idNroComprobante">
                            NRO. DE COMPROBANTE
                            <small class="text-danger">
                                <strong>(*)</strong>
                            </small>:
                    </label>
                    <div class="col-12">
                        <input
                            id="idNroComprobante"
                            autocomplete="off"
                            class="form-control"
                            type="text"
                            placeholder="Ingrese Nro. de comprobante"
                            formControlName="numeroDePago">
                        <div *ngIf="numeroDePago?.invalid && (numeroDePago?.dirty || numeroDePago?.touched)"
                            class="msj-error-form row text-danger text-end p-0">
                            <small class="col-12" *ngIf="numeroDePago?.errors?.['required']">
                                *El número de comprobante es requerido.
                            </small>
                            <small class="col-12" *ngIf="numeroDePago?.errors?.['minlength']">
                                *El número de comprobante debe tener mínimo 6 caracteres.
                            </small>
                            <small class="col-12" *ngIf="numeroDePago?.errors?.['maxlength']">
                                *El número de comprobante debe tener máximo 6 caracteres.
                            </small>
                            <small class="col-12" *ngIf="numeroDePago?.errors?.['pattern']">
                                *El número de comprobante debe ser válido. Ejemplo: 000001
                            </small>
                        </div>  
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>