<div class="row card">
    <div class="card-header">
        <h4 class="mt-2">Comprobante de pago</h4>
    </div>
    <div class="card-body"> 
        <div class="row justify-content-between">
            <div class="mt-2 col-12 col-sm-12 col-md-12 col-xl-12 col-xxl-5 ">
                <label class="ml-3" for="busquedaProveedor"><strong>TIPO DE COMPROBANTE:</strong></label>
                <div class="col-12">
                    <p-dropdown 
                        #comprobanteOption
                        [options]="tiposDeComprobante" 
                        [(ngModel)]="comprobante" 
                        (onFocus)="comprobanteOption.resetFilter()"
                        optionLabel="tipo_comprobante_descripcion" 
                        placeholder="Selecciona comprobante"
                        [style]="{'width':'100%'}"
                        >
                            <div *ngIf="comprobante">
                                {{comprobante.tipo_comprobante_descripcion}}
                            </div>
                    </p-dropdown>
                </div>
            </div>
            <br>
            <div class="mt-2 col-12 col-sm-12 col-md-12 col-xl-12 col-xxl-5 ">
                <label class="ml-3" for="busquedaProveedor"><strong>FECHA EMISIÓN:</strong></label>
                <div class="field col-12 p-inputgroup">
                    <p-calendar placeholder="dd/mm/aa" [maxDate]="tomorrowDate" [style]="{'width':'100%'}" [showIcon]="true" inputId="icon"></p-calendar>
                </div>
            </div>
        </div>
        <p-divider></p-divider>
        <div class="row justify-content-center">
            <div class="mt-2 col-12 col-sm-12 col-md-12 col-xl-12 col-xxl-3">
                <label class="ml-3" for="nroSerie"><strong>TIPO DE COMPROBANTE:</strong></label>
                <div class="col-12">
                    <input
                        id="nroSerie"
                        autocomplete="off"
                        class="form-control"
                        type="text"
                        placeholder="Ingrese Nro. serie">
                </div>
            </div>
            <br>
            <div class="mt-2 col-12 col-sm-12 col-md-12 col-xl-12 col-xxl-5 ">
                <label class="ml-3" for="nroComprobante"><strong>NRO. DE COMPROBANTE:</strong></label>
                <div class="col-12">
                    <input
                        id="nroComprobante"
                        autocomplete="off"
                        class="form-control"
                        type="text"
                        placeholder="Ingrese Nro. de comprobante">
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="card-footer">
        <div class="mt-2 col-12 col-sm-12 col-md-12 col-xl-12 col-xxl-4 ">
            <label class="ml-3" for="busquedaProveedor"><strong>GUÍA DE REMISIÓN</strong></label>
            <div class="col-12">
                <button (click)="agregarGuiaRemision()" [style]="{'width':'100%'}"  class="btn btn-{{configGuiaRemision.colorGuiaRemision}}" type="button">{{configGuiaRemision.textoOpcion}} <i style="font-size: 12px;" class="pi pi-{{configGuiaRemision.iconGuiaRemision}}"></i> </button>      
            </div>
                
        </div>
    </div>
    <div class="card-header"></div>
    <div *ngIf="configGuiaRemision.hayGuiaRemision" class="card-body"> 
        <div class="row justify-content-between">
            <div class="mt-2 col-12 col-sm-12 col-md-12 col-xl-12 col-xxl-5 ">
                <label class="ml-3" for="busquedaProveedor"><strong>FLETE:</strong></label>
                <div class="col-12">
                    <input
                        id="nroSerie"
                        autocomplete="off"
                        class="form-control"
                        type="text"
                        placeholder="Ingrese Costo de flete">
                </div>
            </div>
            <br>
            <div class="mt-3 col-12 col-sm-12 col-md-12 col-xl-12 col-xxl-5 ">
                <label class="ml-3" for="busquedaProveedor"><strong>FECHA EMISIÓN:</strong></label>
                <div class="field col-12 p-inputgroup">
                    <p-calendar placeholder="dd/mm/aa" [maxDate]="tomorrowDate" [style]="{'width':'100%'}" [showIcon]="true" inputId="icon"></p-calendar>
                </div>
            </div>
        </div>
        <p-divider></p-divider>
        <div class="row justify-content-center">
            <div class="mt-2 col-12 col-sm-12 col-md-12 col-xl-12 col-xxl-3">
                <label class="ml-3" for="nroSerie"><strong>TIPO DE COMPROBANTE:</strong></label>
                <div class="col-12">
                    <input
                        id="nroSerie"
                        autocomplete="off"
                        class="form-control"
                        type="text"
                        placeholder="Ingrese Nro. serie">
                </div>
            </div>
            <br>
            <div class="mt-2 col-12 col-sm-12 col-md-12 col-xl-12 col-xxl-5 ">
                <label class="ml-3" for="nroComprobante"><strong>NRO. DE COMPROBANTE:</strong></label>
                <div class="col-12">
                    <input
                        id="nroComprobante"
                        autocomplete="off"
                        class="form-control"
                        type="text"
                        placeholder="Ingrese Nro. de comprobante">
                </div>
            </div>
        </div>
    </div> -->
</div>