.titulo-error{
    font-family: Montserrat-Bold;
    color: #BC993F;
    font-size: 40px;
}
#titulo_error{
    font-family: Montserrat-ExtraBold;
    color: #BC993F;
    font-size: 150px;
    margin-bottom: -30px;
}

a{
    text-decoration: none;
}
a:hover{
    color: #BC993F;
}