<div class="m-0 vh-100 row justify-content-center align-items-center d-flex flex-column">
    <div class="container-fluid">
        <div class="text-center">
            <p id="titulo_error" class="titulo-error">404</p>
            <p class="titulo-error">Page Not Found</p>
            <p class="text-dark h5 mb-0">Parece que encontraste un error en la aplicación ...</p>
            <a class="text-danger h5" [routerLink]="['']"><i class="pi pi-arrow-left"></i> Regresar al Inicio</a>
        </div>
    </div>
</div>