<div class="row card"> <!-- [ngClass]="{'bg-light':guardar}"> -->
    <div class="card-header color-header text-white">
        <div class="row">
            <div class="mt-2 text-start col-12 col-md-4">
                <p class="h5">Información de proveedor</p>
            </div>
            <div class="mt-2 col-7 offset-md-5 offset-5 col-md-3 ">
                <div class="input-group">
                    <p class="h5 mr-3">Guardar</p>
                    <input [(ngModel)]="guardar" (change)="guardarDatos()" type="checkbox" class="p-inputswitch">
                </div>
            </div>
        </div>
        
    </div>
    <div class="card-body"> 
        <div class="row justify-content-between">
            <form [formGroup]="proveedorForm" class="mt-2 col-12 col-sm-12 col-md-12 col-xl-12 col-xxl-4 ">
                <label class="ml-3" for="selectProveedor"><strong>BUSCAR PROVEEDOR:</strong></label>
                <div class="col-12">
                    <p-dropdown 
                        #proveedorOption
                        id="selectProveedor"
                        [options]="proveedores" 
                        (onFocus)="proveedorOption.resetFilter()"
                        optionLabel="pro_razon_social" 
                        [filter]="true" 
                        filterBy="pro_razon_social"
                        formControlName="proveedor"
                        placeholder="Selecciona proveedor"
                        [style]="{'width':'100%'}"
                    ></p-dropdown>
                    <div *ngIf="proveedor?.invalid && (proveedor?.dirty || proveedor?.touched)"
                        class="msj-error-form row text-danger text-end p-0">
                        <small class="col-12" *ngIf="proveedor?.errors?.['required']">
                            *El proveedor es requerido.
                        </small>
                    </div>
                </div>
            </form>

            <br>

            <div class="mt-2 col-12 col-sm-12 col-md-12 col-xl-12 col-xxl-4 ">
                <label class="ml-3" for="rucEmpresa"><strong>RUC EMPRESA:</strong></label>
                <div class="col-12 p-inputgroup">
                    <span class="text-end p-inputgroup-addon"><i class="pi pi-building"></i></span>
                    <input
                        value="{{proveedor?.value.pro_ruc}}"
                        pInputText
                        disabled
                        id="rucEmpresa"
                        class="form-control"
                        type="text"
                        >      
                </div>
            </div>

            <br>

            <div class="mt-2 col-12 col-sm-12 col-md-12 col-xl-12 col-xxl-4 ">
                <label class="ml-3" for="registrarProveedor"><strong>NUEVO PROVEEDOR</strong></label>
                <div class="col-12">
                    <button 
                        id="registrarProveedor"
                        [disabled]="( cargando | async ) || guardar"
                        (click)="nuevoProveedor()"   
                        [style]="{'width':'100%'}"  
                        class="btn btn-success" 
                        type="button">
                        REGISTRAR <i style="font-size: 12px;" class="pi pi-user-plus"></i> 
                    </button>      
                </div>
                    
            </div>
        </div>
        
    </div>
    
</div>

